.dashboard{
    display: flex;
    padding: 0.5em;
}

@media screen and (max-device-width:1280px){
    .widget{
        width: 32%;
    }
}

@media screen and (max-device-width:1023px){
    .widget{
        width: 50%;
    }
}

@media screen and (max-device-width:767px){
    .dashboard{
        flex-direction: column;
    }
}