.dashboard{
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-around;
}

.dashboard .widget{
    display: inline-block;
    width: 300px;
    min-height: 10px;
    border: 1px dashed black;
    margin:5px;
}