.widget{
    display: inline-block;
    width: 20%;
    min-height: 10px;
    /*border: 1px dashed black;*/
    margin:1rem 0px;
    position: relative;
}


.widget-header{

}


@media screen and (max-device-width:1280px){
    .widget{
        width: 32%;
    }
}

@media screen and (max-device-width:1023px){
    .widget{
        width: 50%;
    }
}

@media screen and (max-device-width:767px){
    .widget{
        width: 100%;
    }
}





