
.view{
    display: flex;
    height: 100%;
    flex-direction: column;
    padding:0px 10px;;
    
}

.view>.content{
    flex-grow: 1;
}
.view>.actions{
    display: inline-flex;
    justify-content: flex-end;
}