.content{
    position: relative;
    padding: 5px 10px;
    padding-bottom: 0px;
}
.triggerParamPane{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: white;
    height: 0%;
    transition:height 200ms 0ms ease-out;
    overflow: hidden;
}

.triggerParamPane_active{
    @extend .triggerParamPane;
    height: 100%;
}

.actions{
    display: flex;
    justify-content: space-around;
}