html,body,root{
    margin: 0px;
    padding: 0px;
}
/*
.appbar{
    padding: 0px 1em;
    background-color: cornflowerblue;
}
.appbar h1{
    padding: 0px;
    margin: 0px;
}


.dashboard .widget{
    display: inline-block;
    width: 300px;
    min-height: 10px;
    border: 1px dashed black;
    margin:5px;
}

.widget .header .btnConfig{
    float:right;
}





.widget .actions{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}
*/